

body{
    color: var(--branco);
    background: var(--bg-home);
}

/** Cabecalho */

.cabecalho{
    display: flex;
    flex-direction: column;
    background: var(--fundo);
    box-shadow: 0 1px 0 var(--borda-suave);
}

.logo{
    width: 4%;
}

.barra-topo{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 20 px;
    height: 10vh;
    border-bottom: 1px solid var(--branco);
}

.navegacao{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    padding: 40px;
    background-color: var(--bg-home);
}

.lista-menu{
    display: flex;
    align-items: center;
    justify-content: center;
    /* tira a marcacoes das listas */
    list-style: none;
    gap: 10%;
    width: 100%;
}

/* Vai mexer todos os a na list-menu */
.lista-menu a{
    color: var(--branco);
    font-size: 1.2em;
    text-decoration: none;
}

.lista-menu a:hover{
    opacity: 0.5;
}

.lista-login{
    display: flex;
    align-items: center;
    gap: 8px;
}

.cadeado{
    height: 20px;
    width: 20px;
}

.secao-banner{
    background-image: url("../assets/img/Banner\ Home.png");
    background-position: 20% bottom;
    /* O porque do background-repeat eh que supondo que o a imagem tem 500px 500px e eu tiver uma imagem 100px 100px o CSS vai repetir a imagem ate preencher todo o espaco vazio */
    background-repeat: no-repeat;
    background-size: 70%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    height: 50vh;
    padding: 0 10%;
}

.textos-banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 40%;
}

.titulo-banner-principal{
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 12px;
}

.subtitulo-banner{
    text-align: center;
    color: var(--texto-suave);
}

/* SERVICOS */

.secao-servicos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    background-color: var(--bg-home);
    padding: 5% 10% 15%;
}

h2{
    font-size: 1.8em;
    font-weight: 700;
    margin-bottom: 15px;
}

.linha-decorativa{
    width: 220px;
    height: 2px;
    background-color: var(--linha-decorativa);
    opacity: 0.4;
}

.cabecalho-secao{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grade-servicos{
    /* display: grid cria colunas com o mesmo tamanhos */
    display: grid;
    /* Escolhe o tamanho que voce quer que as colunas prenchao a tela, voce pode usar repeat para escolher quantas vezes for repetir e o frames de espacos, ou manualmente colocando 1fr, 1fr, 1fr */
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.cartao-servico{
    border-radius: 20px;
    padding: 50px 25px;
    /* eixo x, eixo y, blur, cor */
    box-shadow: 
        30px 30px 20px var(--sombra-neo-escura),
        10px 10px 4px var(--sombra-neo-clara);
    border: 1px solid var(--borda-suave);
}

.icone{
    height: 36px;
    margin-bottom: 10px;
}

.titulio-cartao{
    margin: 8px 0px;
    font-size: 1.2em;
    font-weight: 500;
    color: var(--branco);
}

.descricao-cartao{
    color: var(--texto-suave);
    font-size: 0.95em;
}

/** MONITORAMENTO */

.secao-monitoramento{
    background-image: url("../assets/img/Banner\ monitore\ dispositivos.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* agora a imagem fiva e apenas os elemnetos sao movimentados */
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
    padding: 80px 0;
    display: flex;
    align-items: center;
}

.titulo-banner-meio{
    font-size: 1.8rem;
    align-items: center;
    width: 400px;
    margin-left: 10%;
}

/** COMO FUNCIONA */

.secao-como-funciona{
    padding: 5% 10% 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40%;
    height: 100vh;
}

.grade-passos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
    justify-content: center;
}

.passo{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 70%;
}

.numero-passo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 120px;
    border-radius: 15px;
    font-weight: 800;
    font-size: 1.8rem;
    color: var(--amarelo);
    /* eixo x, eixo y, blur, cor */
    box-shadow: 
        -10px -5px 30px var(--sombra-passo-clara),
        10px 10px 4px var(--sombra-passo-escura);
    margin-bottom: 50px;
}

.titulo-passo{
    margin-bottom: 10px;
    font-size: 1.1rem;
}

.texto-passo{
    color: var(--texto-suave);
}

.secao-depoimentos{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 5% 10%;
    height: 100vh;
}

.grade-depoimento{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.depoimento{
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 20px;
    padding: 18px 18px 20px;
    box-shadow: 
    -5px -5px 15px var(--sombra-passo-clara),
    10px 10px 4px var(--sombra-passo-escura);
}

.topo-depoimento{
    display: flex;
    align-items: center;
    gap: 12px;
}

.foto-usuario{
    width: 40px;
    height: 40px;
}

.nome-usuario{
    font-size: 1em;
}

.cargo-usuario{
    color: var(--texto-suave);
    font-size: 0.90em;
}

.texto-depoimento{
    color: var(--texto-suave);
    line-height: 1.6;;
}

.botao-primario{
    background-color: var(--amarelo);
    color: var(--fundo);
    padding: 12px 26px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 700;
    transition: transform .15s ease;
}

/* O houver dps do botao diz que ao passar por cima do botao, acontecera a acao do bloco */
.botao-primario:hover{
    transform: translateY(-10px);
    background-color: #d4a01a;
}

/** RODAPE */

.rodape{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: var(--fundo);
    padding: 2% 10%;
    color: var(--branco);
    height: 40vh;
}

.rodape-conteudo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-rodape{
    width: 200px;
}

.lista-rodape{
    display: flex;
    gap: 30px;
    list-style: none;
}

li a{
    text-decoration: none;
    color: var(--branco);
}

.linha-divisoria{
    height: 1px;
    background-color: var(--borda-suave);
    margin-top: 20px;
}

.direitos{
    text-align: center;
    color: var(--texto-suave);
    font-size: 1em;
    margin-top: 20px;
}

